

@font-face {
  font-family: Pokemon Hollow;
  src: url('../fonts/Pokemon Hollow.ttf'); 
}


*{
    margin:0;
    padding: 0;
}
body{
    font-size: 80%;
}
h2{
    font-family: Pokemon Hollow;
}
main{
    width: 90%;
    margin: auto;
}
footer{
    height: 4em;
    color:#58585a;
    background-color: #95d4ff;
}
.clear{
    clear: both;
}
.header{
    width: 100%;
    height: 7em;
    //position:absolute;
}
.login{
    width: 14%;
    position:absolute;
    top: 0em;
    left: 0em;
}
.center{
    //width: 80%;
    margin: auto;
    text-align: center;
}
.form{
    text-align: center;
}
.mje{
    height: 1.5em;
    text-align: center;
    color: red;
}
.img{
    height: 3em;
    width:  3em;
}

#customers 
{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    text-align: center;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}

.ad{
    width: 90%;
}

/****************** estilos pc **********************/

/*estilos main pc*/
@media screen and (min-width: 60em){
    body{
        font-size: 100%;
    }
  
  .pokedex{
      width: 85%;
      margin: -80px auto;
      margin-left: 7%;
      display:block;
      position:absolute;
      z-index: -1;
      } 
  
  .w3-table{
	margin-left: 4%;
    width: 62%;
	
}
  .form{
    width: 50%;
    margin-left: 100px;
    margin-top: 100px;
  }
  
    main{
        min-height: 30em;
      
    }
    .header{
        height: 18em;
     }   
    .logout{
        width: 8%;
        position:absolute;
        margin-left: 76em;
    }

     input,select{
        font-size: 100%;
        width: 40%;
        height: 2em;
        text-align: center;
        margin:auto;
     }
     h2{
        font-family: Pokemon Hollow;
        font-size: 120%;
    }
    footer{
        height: 6em;
        color:#58585a;
        background-color: #95d4ff;
    }

}
